<!DOCTYPE html>
<!--<html manifest="/cache.manifest">-->
<html>

<body>
	<p>Hello World!</p>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="fileupload" />
		<input type="submit" value="Post file" />
	</form>
	
	<form action="/upload-list" method="post" enctype="multipart/form-data">
		<input type="file" name="listupload" />
		<input type="file" name="listupload" />
		<input type="file" name="listupload" />
		<input type="file" name="listupload" />
		<input type="submit" value="Post files" />
	</form>
	
</body>

</html>